/* top navigation menu */
.navbar {
    background-color: black;
    position: fixed;
    z-index: 20;
}

a {
    color: #eee;
}

.glowBall {
    position: absolute;
    top: 21px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
    0 0 10px 9px #fff,
    0 0 26px 23px #ff00ff,
    0 0 85px 44px #0066ff;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #21151a;
    opacity: .9;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlayContent {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #eee;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #eee;
    background-color: #231920;
}

.close {
    color: #eee;
    position: absolute;
    right: 45px;
    top: 56px;
    font-size: 60px;
    font-weight: bold;
    float: right;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    transition: 1s ease-out;
    
}

.close:hover,
.close:focus {
    color: #676968;
    text-decoration: none;
    cursor: pointer;
    -webkit-transform: rotateZ(360deg);
    -webkit-transform-origin: center;
    -moz-transform: rotateZ(360deg);
    -moz-transform-origin: center;
    transform: rotateZ(360deg);
    transform-origin: center;
}

.parallex, .bannerContent {
height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.bannerContent {
    background: rgba(0, 0, 0, 0.5);
    color: #eee;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 64px;
} 

.row {
    display: flex;
    padding: 10px 98px 10px 0;
}

.headline {
    padding-left: 90px;
}


#about {
    height: 50%;
}

/* portfolio section */

* {
    box-sizing: border-box;
}


body {
    background-color: black;
    font-family: "Livvic", sans-serif;
}

.porttxt {
    font-family: "Livvic", sans-serif;
}

.portCon {
    position: relative;
}


h3 {
    font-size: 1.92rem;
    line-height: 100%;
    margin: 2.95rem 0 1.167rem 0;
    color: lavender;
}


.row > .col {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    position: relative;
    left: 133px;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 63px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    position: relative;
    background-color: initial;
    margin:auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}



.modalClose {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
}

.modalClose:hover, .modalClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.mySlides {
    display: none;
}

img.demo, .hover-shadow {
    opacity: 0.7;
}

.active, .hover-shadow:hover {
    opacity: 1;
    cursor: pointer;
}

.demo:hover {
    cursor: pointer;
    opacity: 1;
}

.thumbs {
    margin-top: 33px;
}

.btn {
    background-color: #bf0000;
    position: relative;
}

.btn:hover {
    background-color: #800000;
}

/* .btnL {
    left: 291px;
}

.btnR {
    left: 472px;
} */

/* About Section */

.tagline {
    color: #c5c1c0;
}


.aboutHeader {
    position: relative;
    top: -80px;
}


.portrait {
    max-width: 100%;
}

.flex-container {
  position: relative;
  left: 107px;
}

.aboutContent {
    margin: 2px;
    background-color: #c5c1c0;
    padding: 10px;
    opacity: .6;
    filter: alpha(opacity=60);
    border-radius: 17%;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #575555;
    perspective: 1000px;
    position: relative;
    left: 322px;
    top: -34px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #575555;
    color: white;
    transform: rotateY(180deg);
    padding: 9px;
}

.portrait {
    border-radius: 17%;
}

.break {
    height: 10px;
}

@media only screen and (max-width: 2560px) and (min-width: 1441px) {

    .close {
        top: 54px;
        right: 468px;
    }
    
    .glowBall {
        left: -69px;
    }

    .header {
        position: relative;
        left: 11px;
    }

    .headline {
        padding-left: 0px;
        position: relative;
        left: 9px;
    }

    video {
        padding-left: 23px;
    }

    .overlayContent {
        left: -149px;
        top: 39%;
    }

    .row {
        padding: 0;
    }

    .port {
        position: relative;
        left: 293px;
        top: 16px;
    }

    .tagline {
        position: relative;
        left: -6px;
        padding-left: 34px;
    }

    .flip-card {
        left: 364px;
    }

    h2 {
        font-size: 4rem;
        position: relative;
        left: 9px;
    }

   .icon {
       min-width: fit-content;
   }

   .modalClose {
       right: 383px;
   }

   .modal-content {
       left: -87px;
   }

   .modal {
       height: 277px;
       left: -50px;
       width: 96%;
       text-align: center;
       overflow: visible;
   } 

   .btnL {
       left: -94px;
   }

   .btnR {
       left: 80px;
   }

   .thumbs {
       display: none;
      
   }

   .form {
       position: relative;
       left: 15px;
       top: 50px;
       padding-right: 11px;
   }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {

    .close {
        top: 54px;
        right: 468px;
    }
    
    .glowBall {
        left: -69px;
    }

    .header {
        position: relative;
        left: 11px;
    }

    .headline {
        padding-left: 0px;
        position: relative;
        left: 9px;
    }

    video {
        padding-left: 86px;
    }

    .overlayContent {
        left: -149px;
        top: 39%;
    }

    .row {
        padding: 0;
    }

    .port {
        position: relative;
        left: 293px;
        top: 16px;
    }

    .tagline {
        position: relative;
        left: -6px;
        padding-left: 34px;
    }

    .flip-card {
        left: 364px;
    }

    h2 {
        font-size: 4rem;
        position: relative;
        left: 9px;
    }

   .icon {
       min-width: fit-content;
   }

   .modalClose {
       right: 383px;
       font-size: 69px;
   }

   .modal-content {
       left: -87px;
   }

   .modal {
       height: 277px;
       left: -50px;
       width: 96%;
       text-align: center;
       overflow: visible;
       top: 151px;
   } 

   .aboutHeader {
       top: -53px;
   }

   .btnL {
       left: -94px;
   }

   .btnR {
       left: 80px;
   }

   .thumbs {
       display: none;
   }

   .form {
       position: relative;
       left: 83px;
       top: 50px;
      
   }
}



@media only screen and (max-width: 1024px) and (min-width: 769px) {

    .close {
        top: 54px;
        right: 347px;
    }
    
    .glowBall {
        left: -104px;
    }

    .header {
        position: relative;
        left: -4px;
    }

    .headline {
        padding-left: 0px;
        position: relative;
        left: -8px;
    }

    .overlayContent {
        left: -125px;
        top: 41%;
    }

    .row {
        padding: 0;
    }

    .port {
        position: relative;
        left: 184px;
        top: 16px;
    }


    .tagline {
        position: relative;
        left: -31px;
        padding-left: 34px;
    }

    .flip-card {
        left: 196px;
    }

    h2 {
        font-size: 4rem;
        position: relative;
        left: -12px;
    }

   .icon {
       min-width: fit-content;
   }

   .modalClose {
       right: 186px;
       font-size: 69px;
       top: -23px;
   }

   .modal-content {
       margin-top: -50px;
       margin-left: 27px;
       max-width: 85%;
   }

   .modal {
       height: 277px;
       left: -72px;
       top: 121px;
       width: 96%;
       text-align: center;
       overflow: visible;
   }

   .btnL {
       left: -94px;
   }

   .btnR {
       left: 80px;
   }

   .thumbs {
      display: none;
   }

   video {
       position: relative;
       left: 46px;
   }

   .form {
       position: relative;
       left: 46px;
       top: 50px;
       padding-right: 10px;
   }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {

    .close {
        top: 54px;
        right: 201px;
    }
    
    .glowBall {
        left: -390px;
    }

    .header {
        position: relative;
        left: 1px;
    }

    .headline {
        padding-left: 0px;
        position: relative;
        left: 1px;
    }

    .overlayContent {
        left: -54px;
        top: 39%;
    }

    .row {
        padding: 0;
    }

    .port {
        position: relative;
        left: 125px;
        top: 16px;
    }

    .tagline {
        position: relative;
        left: -26px;
        padding-left: 34px;
    }

    .flip-card {
        left: 169px;
    }

    h2 {
        font-size: 4rem;
        position: relative;
        left: -6px;
    }

   .icon {
       min-width: fit-content;
   }

   .modalClose {
       right: 147px;
   }

   .modal-content {
       margin-top: -50px;
       margin-left: 27px;
       max-width: 85%;
   }

   .modal {
       height: 277px;
       left: -50px;
       width: 96%;
       text-align: center;
       overflow: visible;
   }

   .btnL {
       left: -94px;
   }

   .btnR {
       left: 80px;
   }

   .thumbs {
       display: none;
   }

   video {
       position: relative;
       left: 24px;
   }

   .form {
       position: relative;
       left: 24px;
       top: 50px;
       padding-right: 11px;
   }
}



@media only screen and (max-width: 425px) and (min-width: 376px) {

    .close {
        top: 36px;
        right: 59px;
    }
    
    .glowBall {
        left: -191px;
    }

    .bannerContent {
        width: 97%;
    }

    .header {
        position: relative;
        left: 7px;
    }

    .headline {
        padding-left: 0px;
        position: relative;
        left: 7px;
    }

    video {
        padding-left: 0px;
    }

    .overlayContent {
        left: -16px;
    }

    .row {
        padding: 0;
    }

    .port {
        position: relative;
        left: 42px;
    }

    .tagline {
        position: relative;
        left: -21px;
        padding-left: 34px;
    }

    .flip-card {
        left: 37px;
    }

    h2 {
        font-size: 3.1rem;
        position: relative;
        left: -3px;
    }

   .icon {
       min-width: fit-content;
   }

   .modalClose {
       right: 51px;
       font-size: 45px;
   }

   .mySlides h3 {
       font-size: 16px;
   }

   .modal-content {
       margin-top: -50px;
       margin-left: 10px;
   }

   .modal {
       height: 277px;
       left: -76px;
       width: 96%;
       text-align: center;
       overflow: visible;
   }

   .btnL {
       left: -13px;
   }

   .btnR {
       left: 31px;
   }

   .thumbs {
       display: none;
   }

   .form {
       position: relative;
       left: 0px;
       top: 50px;
       padding-right: 11px;
   }
}


@media only screen and (max-width: 375px) and (min-width: 361px) {

    .close {
        top: 36px;
    }
    
    .glowBall {
        left: -158px;
    }

    .header {
        position: relative;
        left: -4px;
    }

    .headline {
        padding-left: 0px;
    }

    .row {
        padding: 0;
    }

    .port {
        position: relative;
        left: 26px;
    }

    .tagline {
        position: relative;
        left: -6px;
    }

    .flip-card {
        left: 12px;
    }

    h2 {
        font-size: 3.1rem;
        position: relative;
        left: -7px;
    }

   .icon {
       min-width: fit-content;
   }

   .modalClose {
       right: 51px;
   }

   .modal-content {
       margin-top: -50px;
   }

   .modal {
       height: 277px;
       left: -50px;
       width: 96%;
       text-align: center;
       overflow: visible;
   }

   .btnL {
       left: -13px;
   }

   .btnR {
       left: 31px;
   }

   .thumbs {
       display: none;
   }
}

@media only screen and (max-width: 360px) and (min-width: 321px) {

    .close {
        top: 41px;
        right: 88px;
    }
    
    .glowBall {
        left: -133px;
    }

    .overlayContent {
        left: -14px;
    }

    .header {
        position: relative;
        left: -5px;
    }

    .headline {
        padding-left: 0px;
        position: relative;
        left: -7px;
    }

    .row {
        padding: 0;
    }

    .port {
        position: relative;
        left: 20px;
    }

    .tagline {
        position: relative;
        left: -7px;
        padding: 0 7px;
    }

    .flip-card {
        left: -1px;
    }

    h2 {
        position: relative;
        left: -8px;
    }

   .icon {
       min-width: fit-content;
   }

   .modalClose {
       right: 51px;
   }

   .modal-content {
       margin-top: -50px;
       width: 97%;
   }

   .modal {
       height: 277px;
       left: -47px;
       text-align: center;
       overflow: visible;
   }

   .btnL {
       left: -13px;
   }

   .btnR {
       left: 18px;
   }

   .thumbs {
       display: none;
   }
}

@media only screen and (max-width: 320px) {

    .glowBall {
        left: -155px;
    }

    .close {
        right: 51px;
        top: 37px;
    }

    .overlayContent {
        left: -18px;
    }

    .header {
        position: relative;
        left: 1px;
    }

    .headline {
        position: relative;
        left: 48px;
        padding-left: 0;
    }

    .code {
        position: relative;
        left: -3px;
    }

    .port {
        position: relative;
        left: 46px;
    }

    .about {
        position: relative;
        left: -22px;
    }

    .aboutHeader {
        left: 17px;
    }

    .tagline {
        position: relative;
        left: -21px;
    }

    .flip-card {
        display: none;
    }

    .mobilePic {
        position: relative;
        left: -4px;
        top: -80px;
        margin-bottom: 10px;
    }

    .modalClose {
        right: 62px;
    }

    .modal-content {
        width: 80%;
        left: -15px;
        top: -22px;
    }

    .fab {
        font-size: 47px;
        padding: 13px;
    }

    .mySlides a {
        margin-bottom: 14px;
    }
}